#*
#* HTACCESS - URL
#*
#* Rota 3 Agencia Full
#* Adaptação V2.0 CMS
#* Ultima Modificação 05/01/2016 - Ederson Rodrigues
#*
#* CMS Rota 3
#*

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteRule ^login$  index.php
RewriteRule ^/$  painel.php
RewriteRule ^painel$  painel.php
RewriteRule ^logout$  painel.php?logout