/* ===================================================
* Tema Rota 3.css v4.0
* http://rota3.com.br
* ===================================================
* Copyright 2017 rota3.com.br
*
* Rota 3 Agencia Full
* Rota 3 v4.0
*
* limitations under the License.
* ========================================================== */


/*

FONTES - GOOGLE

*/

@import url('https://fonts.googleapis.com/css?family=PT+Sans');


/*

GLOBAL

*/

input[type=text]:focus, input[type=password]:focus, input[type=button]:focus, select:focus, textarea:focus {
     outline: none;
}

html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background: #555;
    color: #333;
}

body {
    font-family: 'PT Sans', sans-serif;
    overflow: hidden;
    height: 100%;
}

a {
    color: #333;
    text-decoration: none;
    background: transparent;
    outline: none;
}
a:hover, a:focus {
    color: #000;
    text-decoration: underline;
    outline: none;
}
a, a:focus, a:hover {
    outline: 0 none;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
}

.wrapper {
    margin-top: 165px;
    margin-bottom: 20px;
}

.form-signin {
  max-width: 320px;
  padding: 45px 38px 60px;
  margin: 0 auto;
  background-color: #fff;
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.messageboxok {color: #32d296}
.messageboxerror {color: red;}
.by {position: absolute; bottom: 0; right: 0; padding: 40px;}
