/* ===================================================
* Tema Rota 3.css v4.0
* http://rota3.com.br
* ===================================================
* Copyright 2017 rota3.com.br
*
* Rota 3 Agencia Full
* Rota 3 v4.0
*
* limitations under the License.
* ========================================================== */


/*

FONTES - GOOGLE

*/

@import url('https://fonts.googleapis.com/css?family=PT+Sans');


/*

GLOBAL

*/

body {
    font-family: 'PT Sans', sans-serif;
    background: #f1f2f7;
}
a {
    color: #93c54b;
    text-decoration: none;
    background: transparent;
    outline: none;
}
a:hover, a:focus {
    color: #79a736;
    text-decoration: underline;
    outline: none;
}
a, a:focus, a:hover {
    outline: 0 none;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    -web-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
}

table svg:not(:root) {
    margin-top: -4px;
}

.uk-label-silver {
    background-color: #ccc;
    color: #fff;
}

#loaderSistema{
    z-index: 9999999 !important;
    background:#FFBF00;
    height: 100%;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100%;
}

#loaderSistemaInterna {
    left: 50%;
    margin-left: -35px;
    margin-top: -35px;
    position: fixed;
    top: 50%;
    text-align:center;
    font-family:Tahoma, Geneva, sans-serif;
}

.charNum {
    color: #bd9;
    padding: 10px;
}

.list_galeria {
    margin:0;
    padding:0;
    height: 200px;
}

.uk-h2, h2 {
    margin-bottom: 0;
}

.fontawesome-icon-list .fa-hover a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    color: #222;
    line-height: 101px;
    height: 100px;
    padding-left: 0px;
    border-radius: 4px;
    vertical-align: middle;
    display: table-cell;
}

.fontawesome-icon-list .fa-hover a:hover {
    background-color: #1d9d74;
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
    display: table-cell;
}

.fontawesome-icon-list [class^="flaticon-"]:before,
.fontawesome-icon-list [class*=" flaticon-"]:before,
.fontawesome-icon-list [class^="flaticon-"]:after,
.fontawesome-icon-list [class*=" flaticon-"]:after {
    font-size: 70px;
}


/*


TAGS


*/

span.tagson {margin-right: 15px;}

/*


LOADING CALL BACK CONFIRM


*/
.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c {
    padding-bottom: 3px;
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-title {
    padding-bottom: 0;
}

.jconfirm.jconfirm-white .jconfirm-bg, .jconfirm.jconfirm-light .jconfirm-bg {
    background-color: #444;
    opacity: .96;
}


/*



NOTIFICACAO + ALERT


*/

.uk-notification {
    top: 35px;
}

.uk-notification-message-danger {
    color: #f0506e;
}

.uk-notification-message-success {
    color: #32d296;
}

.uk-alert p {
    margin-bottom: 0;
    margin-top: -20px;
}

.uk-heading-line {
    margin-bottom: 10px;
}

/*


MODAL


*/

.uk-modal {
    background: rgba(0,0,0,.8);
    z-index: 999;
}

/*

HEADER

*/

.pageheader {
    background: #fff;
    margin: 68px 0 10px;
    padding: 17px 0 0px;
}

.navbar-r3 {
    background-color: #ffbf00;
    border-bottom: 4px solid #EBB000;
    padding:7px;
    z-index: 2;
}

.navbar-r3 a{ color: #fff; }

.navbar-brand {
    padding: 0px 15px;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #333;
}

.menu-user{
    color: #fff;
    margin: 15px 5px;
}


/*

FOOTER

*/
.min-height-page {min-height: 100px;}

footer.bottom-menu {
    background: #E5E7EB;
    padding: 10px 0;
    font-size: 12px;
    color: #999;
}
footer hr {
    border-top: 1px solid #ccc;
}

footer ul.uk-accordion {
    position: relative;
    z-index: 999;
    background: #E5E7EB;
}

.uk-button-success{
    background-color: #1CAF9A;
    color: #fff;
}

.uk-button-success:focus, .uk-button-success:hover {
    background-color: #179380;
    color: #fff;
}

.uk-button-primary,
.uk-button-danger,
.uk-button-warning,
.uk-button-secondary {
    border: 0px solid transparent;
}

/*


NAV


*/

.nav.menu > li > a {
    padding: 3px 10px;
    color: #666;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color: #000;
    background: #E5E7EB;
}

.nav.menu > li > a svg:not(:root) {
    overflow: hidden;
    width: 16px;
    margin-top: -4px;
}

.uk-dropdown-nav svg:not(:root) {
    margin-top: -4px;
}

.panel ul.uk-accordion .uk-accordion-title {
    margin: 10px 10px 0px;
}

.panel ul.uk-accordion li  {
    margin-top: 0px;
}

.panel ul.uk-accordion .uk-accordion-content {
    margin-top: 8px;
}


/*

CARDS > CLIENT


*/
.uk-card-body h3 { margin: 0; }
.uk-card-body p {
    margin:0;
}


/*

PANELS

*/

.panel {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fcfcfc;
    border: 0;
    -moz-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    -webkit-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    box-shadow: 0 3px 0 rgba(12,12,12,0.03);
}
.panel-dark {
    border-color: #333;
}

.panel-dark .panel-heading {
    background-color: #1d2939;
}
.panel-dark > .panel-heading {
    color: #ffffff;
    background-color: #333;
    border-color: #325d88;
}
.panel-heading {
    padding: 20px;
}
.panel-heading, .panel-footer {
    background: #fff;
    border-color: #eee;
}
.panel-heading, .panel-title, .panel-footer {
    font-size: 11px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-body {padding:5px}

.panel-success .panel-btns a, .panel-danger .panel-btns a, .panel-dark .panel-btns a {
    color: #fff;
}
.panel-btns a.minimize {
    font-size: 18px;
}
.panel-btns a {
    margin-left: 8px;
    float: right;
    color: #000;
    display: inline-block;
    font-weight: 500;
    opacity: 0.2;
    font-size: 16px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.panel-btns a.minimize:active, .panel-btns a.minimize:focus {
    opacity: 0.2;
    text-decoration: none;
}
.panel-success .panel-btns a, .panel-danger .panel-btns a, .panel-dark .panel-btns a {
    color: #fff;
}
.panel-btns a:hover {
    text-decoration: none;
    opacity: 0.5;
    cursor: pointer;
}
.panel-success .panel-heading {
    background-color: #1CAF9A;
}


/*


SOCAIL MEDIA


*/

i.class-social {
    padding: 3px 6px;
}
i.class-social.fb,
i.class-social.tw,
i.class-social.ig,
i.class-social.youtube,
i.class-social.linkedin {
    background-color: #ccc;
    color: #fff;
}


/*


SUMMERNOTE > TEXT AREA STYLE


*/

.note-editor.note-frame {
    border: 1px solid #f1f2f9;
    outline: 0 none;
}


.note-editor.panel-default>.panel-heading {
    color: #333;
    background-color: #f9f9f9;
    border-color: #f1f2f9;
    outline: 0 none;
}

.note-editor .btn-default {
    color: #777;
    background-color: #fff;
    border-color: #F6F4F5;
    outline: 0 none;
}

.note-editor .btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.123);
    outline: 0 none;
}

.note-editor .btn-default.active.focus,
.note-editor .btn-default.active:focus,
.note-editor .btn-default.active:hover,
.note-editor .btn-default:active.focus,
.note-editor .btn-default:active:focus,
.note-editor .btn-default:active:hover,
.note-editor .open>.dropdown-toggle.btn-default.focus,
.note-editor .open>.dropdown-toggle.btn-default:focus,
.note-editor .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #f9f9f9;
    border-color: #f1f1f1;
    outline: 0 none;
}

/*



ELEMENTOS > RADIO BUTTOM



*/
div.uk-form-controls > label{
    margin-right: 15px;
}

/*


ELEMENTOS > UPLOAD


*/

.uk-progress {margin: 10px 0 15px;}




/*



EIXOS > BULLETS



*/

.bullet_eixo_gestao_publica {
    border-radius: 50%;
    background: #5F3660;
    padding: 2px 6px;
    margin-right: 5px;
    font-size: 7px;
    position: relative;
    top: -2px;
}


.bullet_eixo_capital-social{
    border-radius: 50%;
    background: #5DA08C;
    padding: 2px 6px;
    margin-right: 5px;
    font-size: 7px;
    position: relative;
    top: -2px;
}


.bullet_eixo_quilombola {
    border-radius: 50%;
    background: #D8443C;
    padding: 2px 6px;
    margin-right: 5px;
    font-size: 7px;
    position: relative;
    top: -2px;
}


.bullet_eixo_gestao-ambiental {
    border-radius: 50%;
    background: #5FC400;
    padding: 2px 6px;
    margin-right: 5px;
    font-size: 7px;
    position: relative;
    top: -2px;
}


.bullet_eixo_desenvolvimento-economico {
    border-radius: 50%;
    background: #FBAB00;
    padding: 2px 6px;
    margin-right: 5px;
    font-size: 7px;
    position: relative;
    top: -2px;
}

.bullet_eixo_institucional {
    border-radius: 50%;
    background: #3146A7;
    padding: 2px 6px;
    margin-right: 5px;
    font-size: 7px;
    position: relative;
    top: -2px;
}


.bullet_default{
    border-radius: 50%;
    background: #ebebeb;
    padding: 2px 6px;
    margin-right: 5px;
    font-size: 7px;
    position: relative;
    top: -2px;
}





/*



DATE PICKER



*/

.uk-datepicker {
    z-index: 1050;
    width: auto;
    -webkit-animation: uk-fade .2s ease-in-out;
    animation: uk-fade .2s ease-in-out;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}
.uk-datepicker-nav {
    margin-bottom: 15px;
    text-align: center;
    line-height: 20px
}
.uk-datepicker-nav:after,
.uk-datepicker-nav:before {
    content: "";
    display: table
}
.uk-datepicker-nav:after {
    clear: both
}
.uk-datepicker-nav a {
    color: #666;
    text-decoration: none
}
.uk-datepicker-nav a:hover {
    color: #666
}
.uk-datepicker-previous {
    float: left
}
.uk-datepicker-next {
    float: right
}
.uk-datepicker-next:after,
.uk-datepicker-previous:after {
    width: 20px;
    font-family: FontAwesome
}
.uk-datepicker-previous:after {
    content: "\f053"
}
.uk-datepicker-next:after {
    content: "\f054"
}
.uk-datepicker-table {
    width: 100%
}
.uk-datepicker-table td,
.uk-datepicker-table th {
    padding: 2px
}
.uk-datepicker-table th {
    font-size: 12px
}
.uk-datepicker-table a {
    display: block;
    width: 26px;
    line-height: 24px;
    text-align: center;
    color: #666;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-origin: border-box
}
a.uk-datepicker-table-muted {
    color: #999
}
.uk-datepicker-table a:focus,
.uk-datepicker-table a:hover {
    background-color: #fafafa;
    color: #666;
    outline: 0;
    border-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .3);
    text-shadow: 0 1px 0 #fff
}
.uk-datepicker-table a:active {
    background-color: #f5f5f5;
    color: #666;
    border-color: rgba(0, 0, 0, .2);
    border-top-color: rgba(0, 0, 0, .3);
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1)
}
.uk-datepicker-table a.uk-active {
    background: #009dd8;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .4);
    background-origin: border-box;
    background-image: -webkit-linear-gradient(top, #00b4f5, #008dc5);
    background-image: linear-gradient(to bottom, #00b4f5, #008dc5);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2)
}
.uk-htmleditor-navbar {
    background: #f7f7f7;
    border: 1px solid rgba(0, 0, 0, .1);
    border-bottom-color: rgba(0, 0, 0, .2);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-origin: border-box;
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(to bottom, #fff, #eee)
}


/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    line-height: 1.8;
    font-weight: 100;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #999;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  border-color: #85B200;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);;
}






