/* line 1, ../sass/footer.scss */
footer {
  overflow: hidden;
  background-color: #dddddd;
  margin-top: 0;
}
/* line 5, ../sass/footer.scss */
footer .row {
  padding-bottom: 30px;
}
/* line 8, ../sass/footer.scss */
footer .cor1,
footer .cor2,
footer .cor3 {
  width: 33.333%;
  height: 6px;
  float: left;
  overflow: hidden;
  margin-bottom: 30px;
}

section.colors {
  background: #fff;
  z-index: 1;
  position: relative;
}

section.colors .cor1,
section.colors .cor2,
section.colors .cor3 {
  width: 33.333%;
  height: 6px;
  float: left;
  overflow: hidden;
}
/* line 15, ../sass/footer.scss */
footer .cor1,
.cor1 {
  background-color: #bca153;
}
/* line 18, ../sass/footer.scss */
footer .cor2,
.cor2 {
  background-color: #591d4b;
}
/* line 21, ../sass/footer.scss */
footer .cor3,
.cor3 {
  background-color: #999999;
}
/* line 24, ../sass/footer.scss */
footer img {
  max-width: 100%;
}
/* line 27, ../sass/footer.scss */
footer h5 {
  font-size: 25px;
  color: #777777;
  margin-bottom: 0px;
  font-weight: 600px;
}
/* line 33, ../sass/footer.scss */
footer p {
  font-size: 17px;
  color: #777777;
  line-height: 1.2;
}
/* line 38, ../sass/footer.scss */
footer .rodape {
  text-align: center;
  overflow: hidden;
  padding: 40px 0px;
  background-color: #ffffff;
  color: #777777;
}
/* line 44, ../sass/footer.scss */
footer .rodape p, footer .rodape strong {
  margin: 0;
}
