.uk-offcanvas-flip .uk-offcanvas {
    right: 0;
    left: auto;
    position: absolute;
    z-index: 9;
}

.uk-notification-message {
    position: relative;
    margin-bottom: 10px;
    padding: 15px;
    background: #f8f8f8;
    color: #666;
    font-size: 1.25rem;
    line-height: 1.2;
    cursor: pointer;
}

.uk-notification {
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    width: 45%;
}

.uk-notification-message-danger {
    color: #fff;
    background: #f0506e;
    font-size: 25px;
    border-radius: 50px;
}

.uk-notification-message-success {
    color: #fff;
    background: #32d296;
    font-size: 25px;
    border-radius: 50px;
}

.uk-notification-close {
    top: 22px;
    right: 26px;
    color: #fff;
}

.uk-notification-message-success:hover .uk-notification-close,
.uk-notification-message-danger:hover .uk-notification-close{
    color: #fff;
    animation: bounceIn;
    animation-duration: .9s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}


.uk-notification-top-center, .uk-notification-bottom-center {
    left: 40%;
    margin-left: -175px;
}





/*




NEWSLETTER



*/


.uk-offcanvas-overlay::before {
    background: rgba(0, 0, 0, 0.85);
}

.uk-offcanvas-bar {
    background: #330F26;
}

.uk-offcanvas-bar .input-group {
    margin-bottom: 10px;
}

.uk-offcanvas-bar .input-group-addon {
    background: #641749;
    color: #fff;
    outline: none;
    border: 0;
    border-radius: 0;
}

.uk-offcanvas-bar .input-group-addon i{
    font-size: 25px;
    text-align: center;
}

.uk-offcanvas-bar input {
    background: #641749;
    color: #bca153;
    outline: none;
    border-bottom: 0;
}

.uk-offcanvas-bar input:hover,
.uk-offcanvas-bar input:focus{
    background: #771A57;
    outline: none;
}

.uk-offcanvas-bar h3{
    color: #fff;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 40px;

}
.uk-offcanvas-bar p{
    color: #fff;
    font-size: 17px;
    line-height: 1.5;

}



/*


VALIDACAO


*/

.error i.error {
    font-size: 16px;
    font-weight: 500;
    color: red;
    font-family: 'PT Sans Narrow', sans-serif;
    animation: none;
    width: 225px;
    height: 32px;
    margin: 0px 25px 0px 13px;
/*    display: -webkit-flex;
display: flex;
-webkit-align-items: center;
align-items: center;
-webkit-justify-content: center;*/
justify-content: left;
border-radius: 50px;
float: left;
position: relative;
left: 30px;
line-height: 1;
top: 13px;

font-style: normal;
}


.error i.error:before {
    content: "\f057";
    padding-left: 0px;
    width: 29px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
    font-family: FontAwesome;
    font-size: 25px;
}

.error i.success:before {
    content: "\f058" !important;
    padding-left: 0px !important;
    width: 29px !important;
    height: 23px !important;
    display: inline-block !important;
    vertical-align: middle !important;
    font-family: FontAwesome !important;
    font-size: 25px !important;
}

.error i.success {
    animation: none;
    color: #85B200;
}

label.error {
    padding-top: 3px;
    font-size: 14px;
    font-weight: 500;
    color: red;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;

    animation: headShake;
    animation-duration: 2s;
    animation-delay: .0s;
    animation-iteration-count: infinite;
}

label.success {
    animation: none !important;
    padding-top: 3px;
    font-size: 14px;
    font-weight: 500;
    color: #85B200;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}




label {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
    text-align: left;
}

.radio {
    margin: 0.7rem;
}

.radio-inline {
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.radio.radio-inline label, .checkbox.checkbox-inline label {
    padding-left: 0;
    margin-top: 10px;
    font-size: 16px;
}

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute !important;
    width: calc(100% - -25px) !important;
    height: 35px;
}

label i.error {
    color: red;
    font-style: normal;
    font-size: 15px;
}

.radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: 0em;
    margin-right: 3px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label:before {
    background-color: #85B200;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #85B200;
}

.radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

.radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}

:hover {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}


@media (min-width: 1200px)  {
    .container {
        width: 1100px;
    }
}

.clearxfix {
    clear: both !important;
}

.uk-lightbox-toolbar {
    color: #fff;
    font-size: 22px;
    line-height: 1;
}

.uk-tooltip {
    background: #bca333 !important;
    color: #fff !important;

    padding: 5px 10px;

    font-size: 15px;
    font-weight: 100;
    font-family: 'PT Sans Narrow', sans-serif;
    line-height: 1.2;
    /*box-shadow: 0 0 90px -10px #000;*/
    text-align: center;

    /*max-width: 300px;*/

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}


.uk-modal-header {
    padding: 20px 30px;
}

#modal-group-dados .uk-modal-title,
#modal-group-payment .uk-modal-title {
    margin-top: 10px;
    font-size: 2rem;
    line-height: 1;
    font-weight: 800;
    color: #5d1943;
    font-family: 'PT Sans Narrow', sans-serif;
}

#modal-group-dados .uk-modal-footer .uk-button-text,
#modal-group-payment .uk-modal-footer .uk-button-text {
    background: none;
    position: relative;
    text-transform: normal;
    font-size: 12px;
    margin-right: 15px;
}

#modal-group-dados .uk-modal-footer .uk-button-success,
#modal-group-payment  .uk-modal-footer .uk-button-success {
    background: #85B200;
    color: #fff;
}

#modal-editar .uk-modal-footer .uk-button-success:hover,
#modal-group-payment  .uk-modal-footer .uk-button-success:hover {
    background: #A3D900;
    color: #fff;
}

#modal-group-dados.uk-modal-container .uk-modal-dialog,
#modal-group-payment.uk-modal-container .uk-modal-dialog {
    width: 70%;
}

#modal-group-dados .uk-modal-body,
#modal-group-payment .uk-modal-body {
    padding:0;
}

#modal-group-dados .uk-modal-header .titulo-sessao h4,
#modal-group-payment .uk-modal-header .titulo-sessao h4 {
    font-size: 35px;
    color: #5d1943;
    font-weight: bold;
    display: inline-flex;
    line-height: 0.8;
    margin-bottom: 0;
}

#modal-group-dados .uk-modal-header p,
#modal-group-payment .uk-modal-header p {
    font-size: 17px;
    color: #666;
    line-height: 1;
    margin-bottom: 0;
    padding-top: 3px;
}

#modal-group-dados .uk-modal-body section.dados-comprado,
#modal-group-payment .uk-modal-body section.dados-comprador{
    margin:0;
    padding: 30px;
}

#modal-group-dados .uk-modal-dialog [class*='uk-modal-close-'],
#modal-group-payment .uk-modal-dialog [class*='uk-modal-close-'] {
    padding: 28px;
}

#modal-group-dados .uk-modal-dialog .error i.erro,
#modal-group-payment .uk-modal-dialog .error i.error{
    width: 45%;
    margin: 0px 25px 0px 0px;
}

.uk-modal {
    background: rgba(0, 0, 0, 0.9);
}


.modal-body {
    position: relative;
    padding: 0;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 0px solid rgba(0, 0, 0, .2);
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.uk-slider-container {
    width: 100%;
}

.uk-slider-items {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: left;
    align-items: left;
    -webkit-justify-content: left;
    justify-content: left;
}

#totop.uk-sticky.uk-active {
    background: transparent !important;
}

.totop1 {
    position: absolute;
    right: 20px;
    bottom: -150px;
    z-index: 999;
    width: 50px;
    height: 50px;
}

.totop1 .totop-2 {
    background: #ccc;
    color: #fff;
    font-size: 20px;
    padding: 10px 12px;
    border-radius: 50%;
}

.totop1 .totop-2:hover i,
.totop1 .totop-2:focus i,
.totop1 .totop-2:active i  {
    color: #fff;
    outline: none;
}

.totop1 .totop-2:hover {
    animation: bounceIn;
    animation-duration: 3s;
    animation-delay: .55s;
    animation-iteration-count: infinite;
}

.uk-card-default {
    background: #fff;
    color: #666;
    min-height: 200px !important;
    max-height: 300px;
    box-shadow: 0 0px 140px -36px rgba(0, 0, 0, 0.4);

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.uk-card-default:hover {
    box-shadow: 0 0px 140px -36px rgba(0, 0, 0, 0.9);
}


@media (min-width: 768px) {
    .modal-dialog {
        width: 75%;
        margin: 30px auto;
    }

}










@media only screen and (max-width: 600px) {
    header, header .top .info-contato-header {
        text-align: left;
    }

    header .navbar {
        margin-bottom: 0;
        padding-top: 0;
    }

    .navbar-toggle {
        position: absolute;
        padding: 15px;
        top: -190px;
        background-color: #5c1a45;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 0px;
        right: 0px;
    }

    .navbar {
        min-height: 0;
        margin-bottom: 0px;
    }


    header .top .logo img {
        width: 70%;
        margin-bottom: 10px;
    }

    header .top .social-header {
        padding-left: 0;
    }

    .navbar-default .navbar-toggle {
        border-color: #5c1a45;
    }

    header .navbar-default {
        background-color: #eeeeee;
        border: 0;
        border-bottom: 6px solid #5d1943;
        border-radius: 0;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    header .top .social-header ul {
        padding-left: 0;
    }

    .titulo-principal {
        padding: 0 20px 50px;
    }

    section.programacao .uk-position-relative {
        padding: 20px;
    }

    section.programacao .box-programacao .info-programacao h1 {
        color: #555555;
        font-size: 26px;
        font-weight: 800;
        margin: 0;
    }

    section.programacao .uk-position-center-left-out {
        left: 0 !important;
        width: max-content;
        background: #666;
        color: #fff;
        padding: 10px 5px;
    }

    .uk-visible\@s {
        display: block !important;
    }

    section.programacao .uk-position-center-right-out {
        right: 0 !important;
        left: auto;
        width: max-content;
        background: #666;
        color: #fff;
        padding: 10px 5px;
    }

    section.voluntariado .box-voluntariado {
        background: #2f001f !important;
        overflow: hidden;
        border-radius: 0px;
        transition: 0.3s;
        margin: 0px 0px 65px;
        position: relative;
    }

    section.voluntariado .box-voluntariado .imagem-voluntariado img {
        width: 100%;
        margin: 30px 0 0;
        border-radius: 100px !important;
    }


    section.voluntariado .box-voluntariado .info-voluntariado {
        padding: 20px;
        margin-bottom: 10px;
    }


    section.voluntariado .box-voluntariado .info-voluntariado h1 {
        font-size: 60px;
        margin-top: 2px;
        margin-bottom: 0px;
        color: #ffffff;
        font-weight: lighter;
        line-height: .9;
    }


    section.voluntariado .box-voluntariado .info-voluntariado i {
        top: 45px;
        right: 15px;
    }

    section.voluntariado .box-voluntariado .imagem-voluntariado {
        padding: 0 20px 0;
    }

    section.novidades {
        padding: 100px 15px 20px;
    }



    section.novidades .tira-padding-left {
        padding: 0;
    }


    section.novidades .box-novidade-destaque {
        padding: 0;
    }


    section.novidades .box-novidade-destaque .info-novidade {
        position: relative;
        padding: 10px;
    }



    section.novidades .box-novidade-destaque .info-novidade header {
        margin-left: 35px;
    }



    section.calendario {
        padding-top: 0;
    }

    .titulo-left h2 {
        font-size: 25px;
        color: #ffffff;
        margin-top: 20px;
        line-height: 1;
    }

    section.calendario .titulo-left h2:before {
        display: none;
    }

    section.calendario .banner-calendario .owl-item .imagem {
        border-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-left: 0;
    }


    .mobile-padding {
        padding: 0;
    }

    section.calendario .banner-calendario .owl-item {
        padding: 0px 0px;
        margin: 3px 2px 0 3px !important;
    }

    section.videos {
        padding: 100px 0;
    }

    section.leitura {
        margin-top: 0;
        background-image: -moz-linear-gradient(left, #eeeeee 50%, #dbdbdb 50%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, #eeeeee), color-stop(0.7, #dbdbdb));
    }

    .mobile-info-footer {
        padding: 15px 0;
    }

    .mobile-info-reverse {
        margin-top: -13px;
    }

    .mobile-none {display: none;}

    section.calendario .banner-calendario .owl-next {
        right: -1.1% !important;
        left: auto;
    }

    section.calendario .banner-calendario .owl-item .texto h1 {
        font-size: 33px;
        line-height: .9;
    }


    .uk-offcanvas-flip .uk-offcanvas-bar {
        width: 100%;
        padding: 60px 45px;
    }

    .uk-offcanvas-close {
        padding: 10px;
        color: #fff !important;
        background: #641749;
    }

    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #ccc;
    }

    .navbar-default .navbar-toggle:hover .icon-bar,
    .navbar-default .navbar-toggle:focus .icon-bar {
        background-color: #5c1a45;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-nav > li {
        width: 100%;
        margin-bottom: 5px;
    }

    .navbar-default .navbar-nav > li > a.active {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 10px;
    }

    header .navbar-nav {
        margin: 10px auto 0;
        width: 100%;
        padding: 20px;
        background: #fff;
        border-radius: 0;
    }

    .navbar-nav > li > .dropdown-menu {
        min-width: auto !important;
        padding: 15px 0px;
        top: 70px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.9);
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
        font-size: 20px;
    }

    .uk-sticky.uk-active {
        background: none;
        border-radius: 0px;
        box-shadow: 0 10px 50px -20px #000;
        position: relative !important;
    }

    .uk-sticky.uk-active ul.nav.navbar-nav li a.active,
    .uk-sticky.uk-active ul.nav.navbar-nav li a:hover,
    .uk-sticky.uk-active ul.nav.navbar-nav li a {
        padding-top: 10px;
        border-radius: 0;
    }

    .navbar-nav .open .dropdown-menu {
        background-color: #eee;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
    }

    .pignose-calendar {
        display: none !important;
    }

    iframe.video_institucional {
        height: 200px !important;
    }

    .btn-ao-vivo {
        padding: 0 20px;
        text-align: center;
    }

    .icon-ao-vivo {
        margin-top: 15px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    #live {
        height: auto;
    }

    .slideshow {
        min-height: 200px;
    }

    h1.slideshow__slide-caption-title .fab.fa-youtube {
        display: none;
    }

    section.videos .titulo-principal {
        padding-top: 0 !important;
    }

    .c-header-home_controls, .c-header-home_buttons {
        padding-bottom: 5px;
    }

    .o-button.-square {
        width: 30px;
        height: 32px;
    }


    .totop1 {
        bottom: -450px;
    }


    /*

    INTERNA

    */

    section.apresentacao-interna.int {
        padding: 40px 0px 40px;
    }

    section.apresentacao-interna.int h1 {
        font-size: 54px;
        color: #896c4a;
        line-height: .9;
        min-height: 150px;
    }

    section.projetos .uk-cover {
        position: relative;
        width: 100%;
        height: 100%;
    }

    section.projetos {
        padding: 20px 0 45px;
    }

    section.checkout h3 {
        font-size: 35px;
        line-height: 1;
    }

    section.checkout .pagamento h3 {
        text-align: center;
        font-size: 35px;
    }

    section.checkout .pagamento p {
        text-align: center;
    }

    form.pagamento .inputGroup {
        width: 100% !important;
    }

    .width-mobile-100 {
        width: 100% !important;
    }

    section.checkout .pagamento label p {
        text-align: left;
    }

    .radio.radio-inline label,
    .checkbox.checkbox-inline label {
        padding-left: 0;
        margin-top: 10px;
        font-size: 16px;
        margin-bottom: 10px;
    }

    section.checkout form.pagamento .pagamento {
        margin-top: 40px;
    }

    section.checkout .pagamento .valor .input-group {
        margin-top: 12px;
        width: 100%;
    }

    section.checkout .pagamento .valor {
        margin-bottom: 0;
    }

    section.checkout .pagamento .prosseguir,
    button.prosseguir, a.prosseguir {
        font-size: 30px;
        margin-top: 20px;
    }

    section.title-interno .titulo-interno h1 {
        font-size: 45px;
        font-weight: 800;
    }


    section.title-interno .uk-cover-container {
        min-height: 100%;
    }

    section.title-interno {
        min-height: 100%;
    }

    section.title-interno .titulo-interno {
        padding: 0px !important;
        margin-top: -20px !important;
    }

    form.pagamento #form-voluntario .inputGroup {
        width: 100% !important;
    }

    #time-left {
        display: none;
    }

    .padding-total .date-footer {
       display: none;
    }

    section.midia.midia-cont .uk-card-body {
        min-height: 100% !important;
    }

    section.midia.midia-cont h3,
    section.midia.midia-cont .uk-card-body h3 {
        font-size: 45px;
    }

    section.midia.midia-cont .uk-card-default {
        height: auto !important;
    }

    section.midia.midia-cont .uk-card-default {
        min-height: auto;
        height: 100% !important;
    }

    .uk-card-default {
        min-width: 100% !important;
    }
    .uk-card-default {
        max-height: 100% !important;
    }

    section.midia.midia-cont .uk-card-body .padding-total {
        padding: 0;
    }

    section.title-int .title-int-text span {
        font-size: 20px;
        top: -20px;
        white-space: nowrap;
    }

    section.title-int .title-int-text span span.date-mobile {
        display: none;
    }

    section.title-int .title-int-text h1 {
        font-size: 45px;
        color: #fff;
        margin: 0;
    }

    section.apresentacao-interna.cont.titulo_arrow_2 .uk-column-1-2 {
        column-count: 1;
    }

    .container.text-int-history {
        margin-top: 20px !important;
    }

    section.apresentacao-interna {
        padding: 40px 0px 40px;
    }

    section.lideres .cardContainer {
        width: 100%;
    }

    section.apresentacao-interna .titulo-apresentacao h1 {
        max-width: 100%;
        margin: 0 auto;
        font-size: 45px;
        color: #896c4a;
        line-height: 1;
    }

    .titulo-apresentacao {
        padding: 15px;
    }

    section.title-interno .titulo-interno .margin-titulo p {
        font-size: 17px !important;
    }

    section.lideres {
        padding: 80px 15px 0;
    }

    section.cards {
        padding: 15px;
    }

    section.cards .box-card-categoria .info-novidade h3:before {
        display: none;
    }

    section.lideres .box-lideres {
        margin-bottom: 10px;
    }

    section.cards .box-card-categoria .box-icon div i {
        padding-top: 0px;
        font-size: 100px;
        min-height: 250px;
    }

    section.cards .box-card-categoria .info-novidade i {
        position: absolute;
        bottom: 35px;
        right: 0;
    }


    section.cards .box-card-categoria .info-novidade h3 {
        margin-top: 0;
    }

    section.title-int .title-int-text span {
        white-space: nowrap;
    }


    #text-read [class*='uk-inline'] {
        width: 100%;
    }

    #text-read .uk-transition-opaque {
        width: 100%;
    }

    section.midia .card .right {
        margin-right: 0;
        float: left;
        width: 100%;
        padding: 20px;
    }

    section.midia .card {
        height: auto !important;
        width: 100%;
    }


    section.midia .card .thumbnail {
        float: none;
        position: initial;
        left: 0;
        top: 0;
        height: none;
        width: 100%;
    }

    section.midia .card p {
        font-size: 25px;
    }


    section.midia .card .date-footer {
        display: none !important;
    }

    section.apresentacao-interna .social-contact ul {
        margin: 0 auto;
        width: 22%;
    }












}


/*



ELEMENTS > CHECJK BOX



*/
#form-voluntario .inputGroup {
    width: 48.4%;
}

.inputGroup {
    background-color: #fff;
    display: block;
    margin: 10px 10px 0 0;
    position: relative;
    width: 32.3%;
    float: left;
}

.inputGroup label {
    padding: 20px;
    width: 100%;
    display: block;
    text-align: left;
    font-weight: 100;
    color: #999;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
    margin: 0;
    font-size: 22px;
}

.inputGroup label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background-color: #5562eb;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}
.inputGroup label:after {
    width: 32px;
    height: 32px;
    content: '';
    border: 2px solid #D1D7DC;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
    color: #fff;
}
.inputGroup input:checked ~ label:before {
    -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}
.inputGroup input:checked ~ label:after {
    background-color: #54E0C7;
    border-color: #54E0C7;
}
.inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

.form {
    padding: 0 16px;
    max-width: 550px;
    margin: 50px auto;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
}


.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    color: #5d1943;
}

iframe.video_institucional {
    height: 550px;
}





.timeline-wrapper {
    margin-top: 60px;
    position: relative
}

.timeline-wrapper:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    left: 0;
    background: #e7e8ec;
    right: 0;
    margin: 0 auto;
    z-index: -1
}

.timeline-wrapper .year {
    text-align: center;
    margin-bottom: 0;
    margin-top: 25px;
    font-size: 16px
}

.timeline-wrapper .year:nth-child(1) {
    margin-top: 0;
    margin-bottom: 60px
}

.timeline-wrapper .year.last {
    margin-bottom: 0;
    font-size: 21px
}

.timeline-wrapper .year span {
    display: inline-block;
    background: #e7e8ec;
    padding: 6px 20px;
    color: #333;
    font-weight: 600;
    border-radius: 3px
}

.timeline-wrapper .year+.node {
    margin-top: -20px
}

.timeline-wrapper .node {
    position: relative;
    float: right;
    clear: right;
    width: 44%;
    margin: 35px 0;
    border-radius: 5px
}

@media (max-width:767px) {
    .timeline-wrapper .node {
        width: 100%
    }
}

.timeline-wrapper .node.left {
    float: left;
    clear: left
}

.timeline-wrapper .node.left:before {
    right: -51px;
    left: inherit
}

@media (max-width:991px) {
    .timeline-wrapper .node.left:before {
        right: -42px;
        width: 43px
    }
}

.timeline-wrapper .node.left .marker {
    left: inherit;
    right: -71px
}

@media (max-width:991px) {
    .timeline-wrapper .node.left .marker {
        right: -52px
    }
}

.timeline-wrapper .node:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background: #e7e8ec;
    left: -51px;
    top: 62px
}

@media (max-width:991px) {
    .timeline-wrapper .node:before {
        left: -42px;
        width: 43px
    }
}

@media (max-width:767px) {
    .timeline-wrapper .node:before {
        display: none
    }
}

.timeline-wrapper .node .marker {
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 25px;
    background: #e7e8ec;
    left: -70px;
    top: 55px;
    border: 3px solid #f7f8fa
}

@media (max-width:991px) {
    .timeline-wrapper .node .marker {
        left: -51px
    }
}

@media (max-width:767px) {
    .timeline-wrapper .node .marker {
        display: none
    }
}

.timeline-wrapper .node .entry {
    position: relative;
    padding: 20px;
    height: 400px;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .26)
}

.timeline-wrapper .node .entry:before {
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    border-radius: 0 0 5px 5px;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, .99) 80%);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, .99) 80%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, .99) 80%);
    background: linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, .99) 80%)
}


.timeline-wrapper .node .entry.smallish {
    height: 320px
}

.timeline-wrapper .node .entry.smallish .intro {
    top: 65%%
}

.timeline-wrapper .node .entry.short-entry {
    background: #e7e8ec;
    color: #63696f;
    font-size: 16px;
    height: inherit;
    padding: 20px;
    box-shadow: none;
    position: relative;
    top: 41px;
    line-height: 25px;
    left: -1px;
    margin-bottom: 20px;
    text-shadow: 1px 1px rgba(255, 255, 255, .4)
}

.timeline-wrapper .node .entry.short-entry:before {
    background: 0 0
}

.timeline-wrapper .node .entry .intro {
    position: relative;
    top: 65%;
    color: #fff;
    z-index: 9;
    letter-spacing: .3px
}

.timeline-wrapper .node .entry .intro h4 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(0, 0, 0, .4);
    letter-spacing: .5px
}

@media (max-width:767px) {
    .timeline-wrapper .node .entry .intro h4 {
        font-size: 17px
    }
}

@media (max-width:767px) {
    .timeline-wrapper .node .entry .intro p {
        font-size: 13px
    }
}

.timeline-wrapper .node .news {
    position: relative;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .26);
    background: #fff
}

.timeline-wrapper .node .news section {
    padding: 30px 20px 60px 20px
}

.timeline-wrapper .node .news section h3 {
    margin-top: 0;
    font-size: 18px;
    line-height: 28px
}

.timeline-wrapper .node .news section p {
    margin-top: 21px;
    line-height: 24px;
    color: #7a7979
}

.timeline-wrapper .node .news footer {
    position: absolute;
    bottom: 0;
    padding: 12px 20px;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    color: #9eaebe
}

.timeline-wrapper .node .news footer .tag {
    position: relative;
    padding-left: 27px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px
}

.timeline-wrapper .node .news footer .tag span {
    font-size: 24px;
    position: absolute;
    top: -7px;
    left: 0
}

.timeline-wrapper .node .news footer .date {
    font-size: 14px
}