/* Banner UIKit Slideshow - centralizar imagens */
section.banner .uk-slideshow-items > li > a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
section.banner .uk-slideshow-items > li > a > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    max-width: none;
}

/* line 2, ../sass/index.scss */
section.banner .banner-principal {
    width: 100%;
}
/* line 4, ../sass/index.scss */
section.banner .banner-principal .item {
    width: 100%;
}
/* line 6, ../sass/index.scss */
section.banner .banner-principal .item img {
    width: 100%;
}
/* line 11, ../sass/index.scss */
section.banner .owl-dots {
    display: block !important;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    width: 100%;
    bottom: 40px;
}
/* line 18, ../sass/index.scss */
section.banner .owl-dots .owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 1px solid #cccccc;
    margin: 0px 3px;
}
/* line 25, ../sass/index.scss */
section.banner .owl-dots .owl-dot.active {
    background-color: #cccccc;
}

/* line 31, ../sass/index.scss */
.titulo-principal {
    max-width: 450px;
    margin: auto;
    text-align: center;
    padding:0 0 50px;
}
/* line 36, ../sass/index.scss */
.titulo-principal h1 {
    font-size: 40px;
    color: #545454;
    font-weight: 400;
    position: relative;
    line-height: .9;
    letter-spacing: -.9px;
}
/* line 42, ../sass/index.scss */
.titulo-principal h1:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    bottom: -20px;
    left: 50%;
    margin-left: -50px;
    border-radius: 10px;
    background-color: #bba053;
}
/* line 53, ../sass/index.scss */
.titulo-principal p {
    font-size: 20px;
    margin-top: 35px;
    line-height: 1.2;
}
/* line 57, ../sass/index.scss */
.titulo-principal h4 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    position: relative;
    line-height: 1;
}

.titulo-principal .dailyVersesWrapper .dailyVerses {
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    position: relative;
    line-height: 1;
}

.titulo-principal .dailyVersesWrapper .dailyVerses a{
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
}

/* line 63, ../sass/index.scss */
.titulo-principal span {
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
}

/* line 70, ../sass/index.scss */
.titulo-left {
    max-width: 550px;
    margin: auto;
    text-align: left;
    margin-bottom: 50px;
}
/* line 75, ../sass/index.scss */
.titulo-left h1 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 400;
    position: relative;
    text-align: left;
    line-height: 1;
}
/* line 82, ../sass/index.scss */
.titulo-left h1:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    bottom: -20px;
    left: 0;
    border-radius: 10px;
    background-color: #bba053;
}
/* line 92, ../sass/index.scss */
.titulo-left p {
    font-size: 17px;
    margin-top: 35px;
    color: #ffffff;
    line-height: 1.2;
}
/* line 97, ../sass/index.scss */
.titulo-left h2 {
    font-size: 25px;
    color: #ffffff;
    margin-top: 100px;
    margin-left: 45px;
    position: relative;
    line-height: 1;
}

/* line 104, ../sass/index.scss */
.titulo-left h2:before {
    content: '';
    width: 38px;
    height: 38px;
    background: url("../img/icon-calendar.png");
    position: absolute;
    left: -45px;
}

/* line 115, ../sass/index.scss */
section.programacao {
    position: relative;
}
/* line 117, ../sass/index.scss */
section.programacao .box-programacao {
    /* overflow: hidden; */
    border-radius: 50px;
    transition: 0.3s;
    margin: 0px 0px;
    display: block;
    background: #fff;
    height: 100px;
    z-index: 9;
    opacity: 1;
}
/* line 123, ../sass/index.scss */
section.programacao .box-programacao .data {
    transition: 0.3s;
    padding: 20px 33px;
    background: #ccc;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
}
/* line 131, ../sass/index.scss */
section.programacao .box-programacao .data h1,
section.programacao .box-programacao .data h2 {
    margin: 0;
    height: 0;
    color: #555555;
}
/* line 136, ../sass/index.scss */
section.programacao .box-programacao .data h1 {
    font-weight: 700;
}
/* line 139, ../sass/index.scss */
section.programacao .box-programacao .data h2 {
    margin-top: 35px;
    margin-left: 0px;
    font-weight: 400;
    font-size: 25px;
}
/* line 147, ../sass/index.scss */
section.programacao .box-programacao .info-programacao {
    padding:21px 0 10px 0px;
}

section.programacao .box-programacao .info-programacao h1 {
    color: #555555;
    font-size: 23px;
    font-weight: 800;
    margin: 0;
}

/* line 152, ../sass/index.scss */
section.programacao .box-programacao .info-programacao span {
    margin: 0;
    color: #555555;
    font-size: 17px;
}
/* line 156, ../sass/index.scss */
section.programacao .carousel-programacao .box-programacao .info-programacao p {
    font-size: 16px;
    margin: 0;
    color: #555555;
    text-indent: 18px;
}
/* line 164, ../sass/index.scss */
section.programacao .box-programacao {
    transition: 0.3s;
    border-radius: 75px;
    /*box-shadow: 0 10px 146px -10px #666;*/
}


/* line 164, ../sass/index.scss */
section.programacao .box-programacao:hover {
    transition: 0.3s;
    border-radius: 75px;
    /*box-shadow: 0 10px 146px -10px #000;*/
    cursor: pointer;
}



/* line 167, ../sass/index.scss */
section.programacao .box-programacao:hover .data {
    background-color: #bba053;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
/* line 170, ../sass/index.scss */
section.programacao .box-programacao:hover .data h1, section.programacao .box-programacao:hover .data h2 {
    color: #ffffff;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
/* line 175, ../sass/index.scss */
section.programacao .owl-dots {
    display: block !important;
    text-align: center;
    margin-top: 20px;
    outline: none;
}
/* line 179, ../sass/index.scss */
section.programacao .owl-dots .owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 1px solid #cccccc;
    margin: 0px 3px;
    outline: none;
}
/* line 186, ../sass/index.scss */
section.programacao .owl-dots .owl-dot.active {
    background-color: #cccccc;
    outline: none;
}

/* line 193, ../sass/index.scss */
section.voluntariado {
    margin-top: 40px;
}
/* line 195, ../sass/index.scss */
section.voluntariado .box-voluntariado {
    background: url("../img/bg-volutario.png") no-repeat 0;
    background-size: cover;
    background-color: #2f001f;
    overflow: hidden;
    border-radius: 100px;
    transition: 0.3s;
    margin: 0px 0px;
    position: relative;
}

/* line 205, ../sass/index.scss */
section.voluntariado .box-voluntariado .imagem-voluntariado img {
    width: 100%;
    margin-left: -15px;
}
/* line 211, ../sass/index.scss */
section.voluntariado .box-voluntariado .info-voluntariado h1 {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    font-weight: lighter;
}
/* line 217, ../sass/index.scss */
section.voluntariado .box-voluntariado .info-voluntariado h1 strong {
    font-weight: 600;
}
/* line 221, ../sass/index.scss */
section.voluntariado .box-voluntariado .info-voluntariado p {
    margin: 0;
    color: #ffffff;
    font-size: 20px;
}
/* line 225, ../sass/index.scss */
section.voluntariado .box-voluntariado .info-voluntariado p a {
    color: #b89d73;
}
/* line 229, ../sass/index.scss */
section.voluntariado .box-voluntariado .info-voluntariado i {
    font-size: 70px;
    color: #b89d73;
    position: absolute;
    right: 30px;
    top: 35px;
    transition: 0.3s;
}
/* line 239, ../sass/index.scss */
section.voluntariado .box-voluntariado .info-voluntariado:hover i {
    right: 10px;
    transition: 0.3s;
}

/* line 247, ../sass/index.scss */
section.novidades {
    background-color: #888888;
    /*overflow: hidden;*/
    padding-top: 120px;
    margin-top: -70px;
}
/* line 253, ../sass/index.scss */
section.novidades .titulo-principal h1, section.novidades .titulo-principal p {
    color: #ffffff;
}
/* line 257, ../sass/index.scss */
section.novidades .box-novidade-destaque {
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 30px;
}

/* line 261, ../sass/index.scss */
section.novidades .box-novidade-destaque img {
    width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
/* line 267, ../sass/index.scss */
section.novidades .box-novidade-destaque .info-novidade {
    position: relative;
    padding: 35px 60px;
}
/* line 270, ../sass/index.scss */
section.novidades .box-novidade-destaque .info-novidade header {
    background-color: #ffffff;
    z-index: 0;
}
/* line 273, ../sass/index.scss */
section.novidades .box-novidade-destaque .info-novidade header .categoria-data {
    float: left;
    position: relative;
    padding-left: 4px;
}
/* line 276, ../sass/index.scss */
section.novidades .box-novidade-destaque .info-novidade header .categoria-data h6 {
    color: #bca333;
    font-size: 16px;
    margin: 0px 0 4px;
}
/* line 281, ../sass/index.scss */
section.novidades .box-novidade-destaque .info-novidade header .categoria-data h5 {
    color: #a6a6a6;
    font-size: 14px;
    margin: 0;
}
/* line 287, ../sass/index.scss */
section.novidades .box-novidade-destaque .info-novidade header .categoria-data:before {
    content: '';
    width: 84px;
    height: 27px;
    background: url("../img/icon-artigo-destaque.png");
    position: absolute;
    left: -87px;
    z-index: 1;
}
/* line 296, ../sass/index.scss */
section.novidades .box-novidade-destaque .info-novidade header .hora {
    float: right;
    font-size: 14px;
    color: #a6a6a6;
}
/* line 302, ../sass/index.scss */
section.novidades .box-novidade-destaque .info-novidade h3 {
    font-size: 40px;
    color: #bca333;
    margin-top: 50px;
    line-height: 0.9;
}
/* line 307, ../sass/index.scss */
section.novidades .box-novidade-destaque .info-novidade p {
    font-size: 17px;
    color: #666666;
    margin-bottom: 10px;
}
/* line 312, ../sass/index.scss */
section.novidades .box-novidade-destaque .info-novidade span {
    font-size: 15px;
    color: #a6a6a6;
}
/* line 319, ../sass/index.scss */
section.novidades .box-novidade-destaque:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/* line 325, ../sass/index.scss */
section.novidades .box-novidade {
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 30px;
}
/* line 329, ../sass/index.scss */
section.novidades .box-novidade img {
    width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
/* line 335, ../sass/index.scss */
section.novidades .box-novidade article {
    padding: 25px;
    min-height: 215px;
}
/* line 337, ../sass/index.scss */
section.novidades .box-novidade article header {
    background-color: #ffffff;
    z-index: 0;
}
/* line 340, ../sass/index.scss */
section.novidades .box-novidade article header .categoria-data {
    float: left;
    position: relative;
    padding-left: 25px;
}
/* line 344, ../sass/index.scss */
section.novidades .box-novidade article header .categoria-data h6 {
    color: #bca333;
    font-size: 16px;
    margin: 0;
}
/* line 349, ../sass/index.scss */
section.novidades .box-novidade article header .categoria-data h5 {
    color: #a6a6a6;
    font-size: 14px;
    margin: 5px 0;
}
/* line 355, ../sass/index.scss */
section.novidades .box-novidade article header .categoria-data:before {
    content: '';
    width: 21px;
    height: 53px;
    background: url("../img/icon-artigo.png");
    position: absolute;
    top: -35px;
    left: 0px;
    z-index: 1;
}
/* line 365, ../sass/index.scss */
section.novidades .box-novidade article header .hora {
    float: right;
    font-size: 14px;
    color: #a6a6a6;
}
/* line 371, ../sass/index.scss */
section.novidades .box-novidade article h3 {
    font-size: 30px;
    color: #bca333;
    margin-top: 50px;
    line-height: .9;
}
/* line 376, ../sass/index.scss */
section.novidades .box-novidade article span {
    font-size: 15px;
    color: #a6a6a6;
}
/* line 383, ../sass/index.scss */
section.novidades .box-novidade:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/* line 389, ../sass/index.scss */
section.novidades .box-novidade:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

section.novidades .box-novidade:hover section.novidades .box-novidade-destaque .info-novidade {
    left: -10px;
    position: relative;
}

/* line 396, ../sass/index.scss */
section.calendario {
    background-color: #888888;
    overflow: hidden;
    padding-top: 50px;
}
/* line 400, ../sass/index.scss */
section.calendario .titulo-left {
    margin-top: 50px;
}
/* line 404, ../sass/index.scss */
section.calendario .banner-calendario .owl-item {
    padding: 40px 0px;
}
/* line 406, ../sass/index.scss */
section.calendario .banner-calendario .owl-item .imagem {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
    margin-left: 0;
}

/* line 416, ../sass/index.scss */
section.calendario .banner-calendario .owl-item .imagem img {
    width: 100%;
}

/* line 420, ../sass/index.scss */
section.calendario .banner-calendario .owl-item .texto {
    background-color: #ffffff;
    padding: 45px;
    position: relative;
    z-index: 2;
    /*-webkit-clip-path: polygon(0 4%, 100% 12%, 100% 92%, 5% 100%);*/
    /*clip-path: polygon(0 4%, 100% 12%, 100% 92%, 5% 100%);*/

    opacity: .9;

    min-height: 314px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

section.calendario .banner-calendario .owl-item .texto:hover h1,
section.calendario .banner-calendario .owl-item .texto:hover p {
        color: #999;
        -webkit-transition: all .2s ease;
           -moz-transition: all .2s ease;
            -ms-transition: all .2s ease;
             -o-transition: all .2s ease;
                transition: all .2s ease;
}

/* line 428, ../sass/index.scss */
section.calendario .banner-calendario .owl-item .texto h1 {
    font-size: 45px;
    color: #5c1a45;
    font-weight: bold;
    z-index: 9;
    line-height: .8;
    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}
/* line 434, ../sass/index.scss */
section.calendario .banner-calendario .owl-item .texto p {
    color: #5c1a45;
    font-weight: 600;
    font-size: 18px;
    z-index: 9;
    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}
/* line 441, ../sass/index.scss */
/*section.calendario .banner-calendario .owl-item .texto:before {
content: '';
width: 100%;
height: 90px;
background-color: #ffffff;
position: absolute;
top: -25px;
left: -1px;
border-radius: 25px;
-webkit-transform: rotate(5deg) skew(5deg);
-moz-transform: rotate(5deg) skew(6deg);
-o-transform: rotate(5deg) skew(5deg);
z-index: -1;
}*/
/* line 455, ../sass/index.scss */
/*section.calendario .banner-calendario .owl-item .texto:after {
content: '';
width: 100%;
height: 90px;
background-color: #ffffff;
position: absolute;
bottom: -25px;
right: 1px;
border-radius: 25px;
-webkit-transform: rotate(-5deg) skew(-5deg);
-moz-transform: rotate(-5deg) skew(-5deg);
-o-transform: rotate(-5deg) skew(-5deg);
z-index: -1;
}*/
/* line 470, ../sass/index.scss */
section.calendario .banner-calendario .owl-nav {
    position: absolute;
    width: 100%;
    bottom: 41%;
}
/* line 475, ../sass/index.scss */
section.calendario .banner-calendario .owl-prev {
    background: url("../img/arrow-produtos-prev.jpg") no-repeat !important;
    width: 50px;
    height: 50px;
    color: #ffffff !important;
    position: absolute;
    left: -21%;
    outline: none;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}
/* line 484, ../sass/index.scss */
section.calendario .banner-calendario .owl-next {
    background: url("../img/arrow-produtos-next.jpg") no-repeat !important;
    width: 50px;
    height: 50px;
    color: #ffffff !important;
    position: absolute;
    left: -15.1%;
    outline: none;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

section.calendario .banner-calendario .owl-prev:hover,
section.calendario .banner-calendario .owl-next:hover {
    opacity: .8;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}
/* line 496, ../sass/index.scss */
section.videos {
    background-color: #888888;
    text-align: center;
    padding-bottom: 100px;
    position: relative;
    z-index: 2;
}
/* line 503, ../sass/index.scss */
section.videos .titulo-principal h1, section.videos .titulo-principal p {
    color: #ffffff;
}
/* line 507, ../sass/index.scss */
section.videos .box-video {
    position: relative;
    background-color: #5b1b47;
    margin: 20px 15px;
}
/* line 511, ../sass/index.scss */
section.videos .box-video img {
    width: 100%;
    padding: 20px 0px;
    filter: brightness(40%);
}
/* line 517, ../sass/index.scss */
section.videos .titulo-video {
    padding: 0px 30px;
}
/* line 519, ../sass/index.scss */
section.videos .titulo-video h4 {
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
}

section.videos .titulo-video span {
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
}
/* line 526, ../sass/index.scss */
section.videos .box-video a {
    position: relative;
}
/* line 529, ../sass/index.scss */
section.videos .box-video a:after {
    content: '';
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    margin-top: -15px;
    top: 0%;
    background: url("../img/youtube.png");
    z-index: 2;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transition: 0.3s;
}
/* line 544, ../sass/index.scss */
section.videos .box-video a:hover:after {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: 0.3s;
}
/* line 550, ../sass/index.scss */
section.videos .btn-mais {
    display: inline-block;
    background-color: #532548;
    border-radius: 25px;
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    width: 220px;
    padding: 10px 0px;
    left: 50%;
    margin-left: -110px;
    bottom: -23px;
    z-index: 2;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

section.videos .btn-mais:hover {
    background-color: #31172B;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

/* line 566, ../sass/index.scss */
section.leitura {
    overflow: hidden;
    background-image: -moz-linear-gradient(left, #eeeeee 50%, #dbdbdb 50%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, #eeeeee), color-stop(0.5, #dbdbdb));
    padding-top: 40px;
    padding-bottom: 15px;
    margin-top: 120px;
    z-index: 1;
}
/* line 573, ../sass/index.scss */
section.leitura .titulo-left {
    margin-top: 40px;
}
/* line 575, ../sass/index.scss */
section.leitura .titulo-left h1 {
    font-weight: 600;
}
/* line 578, ../sass/index.scss */
section.leitura .titulo-left h1, section.leitura .titulo-left p, section.leitura .titulo-left h2 {
    color: #532548;
}
/* line 581, ../sass/index.scss */
section.leitura .titulo-left span {
    font-weight: 600;
    font-size: 16px;
}
/* line 589, ../sass/index.scss */
section.leitura .banner-leitura .owl-item .imagem {
    width: 90%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    overflow: hidden;
    margin-left: 35px;
}
/* line 595, ../sass/index.scss */
section.leitura .banner-leitura .owl-item .imagem img {
    width: 100%;
}
/* line 599, ../sass/index.scss */
section.leitura .banner-leitura .owl-item .texto {
    padding: 50px 0px 50px 50px;
    position: relative;
    margin-right: 35px;
    z-index: 2;
    margin-top: 30px;
}
/* line 605, ../sass/index.scss */
section.leitura .banner-leitura .owl-item .texto h1 {
    font-size: 45px;
    color: #696969;
    font-weight: bold;
    z-index: 9;
    line-height: 1;
}
/* line 611, ../sass/index.scss */
section.leitura .banner-leitura .owl-item .texto p {
    color: #696969;
    font-weight: 400;
    font-size: 18px;
    z-index: 9;
    margin-bottom: 20px;
}
/* line 618, ../sass/index.scss */
section.leitura .banner-leitura .owl-item .texto a {
    background-color: #696969;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
/* line 625, ../sass/index.scss */
section.leitura .banner-leitura .owl-item .texto a:hover {
    text-decoration: none;
    background-color: #85B200;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
/* line 630, ../sass/index.scss */
section.leitura .banner-leitura .owl-nav {
    position: absolute;
    width: 100%;
    bottom: 32%;
    left: -17%;
}

/* line 635, ../sass/index.scss */
section.leitura .banner-leitura .owl-prev {
    background: url("../img/arrow-produtos-prev.jpg") no-repeat !important;
    width: 50px;
    height: 50px;
    color: #ffffff !important;
    position: absolute;
    left: -34.5%;
    outline: none;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}
/* line 644, ../sass/index.scss */
section.leitura .banner-leitura .owl-next {
    background: url("../img/arrow-produtos-next.jpg") no-repeat !important;
    width: 50px;
    height: 50px;
    color: #ffffff !important;
    position: absolute;
    left: -27.2%;
    outline: none;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

section.leitura .banner-leitura .owl-prev:hover,
section.leitura .banner-leitura .owl-next:hover {
    opacity: .8;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

@media screen and (max-width: 768px) {
    /* line 659, ../sass/index.scss */
    section.voluntariado .box-voluntariado {
        border-radius: 0px;
        text-align: center;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    /* line 665, ../sass/index.scss */
    section.voluntariado .box-voluntariado .img-voluntariado img {
        margin-left: 0;
    }
    /* line 669, ../sass/index.scss */
    section.voluntariado .box-voluntariado .info-voluntariado {
        padding: 30px;
    }
    /* line 671, ../sass/index.scss */
    section.voluntariado .box-voluntariado .info-voluntariado i {
        top: 90px;
        right: 15px;
    }

    /* line 679, ../sass/index.scss */
    section.novidades .tira-padding-left {
        padding-left: 15px;
    }
    /* line 682, ../sass/index.scss */
    section.novidades .tira-padding-right {
        padding-right: 15px;
    }

    /* line 686, ../sass/index.scss */
    section.calendario .titulo-left, section.calendario .titulo-left h1 {
        text-align: center;
    }

    /* line 689, ../sass/index.scss */
    section.calendario .titulo-left h1:after {
        left: 50%;
        margin-left: -25px;
    }

    /* line 693, ../sass/index.scss */
    section.calendario .titulo-left h2:before {
        left: 55px;
    }

    /* line 696, ../sass/index.scss */
    section.calendario .banner-calendario .owl-item .texto {
        padding: 0px 51px;
    }

    /* line 699, ../sass/index.scss */
    section.calendario .banner-calendario .owl-next {
        right: 17.5%;
    }

    /* line 702, ../sass/index.scss */
    section.calendario .banner-calendario .owl-item .texto:before, section.calendario .banner-calendario .owl-item .texto:after {
        display: none;
    }

    /* line 705, ../sass/index.scss */
    section.calendario .banner-calendario .owl-item .imagem, section.calendario .banner-calendario .owl-item .texto {
        margin: 0;
    }

    /* line 708, ../sass/index.scss */
    section.calendario .banner-calendario .owl-item .imagem {
        box-shadow: none;
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -o-transform: skew(0deg);
        border-radius: 0;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        margin-left: -15px;
    }

    /* line 718, ../sass/index.scss */
    section.calendario .banner-calendario .owl-item .texto {
        border-radius: 0;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        margin-right: 0px;
        padding: 30px 50px;
        text-align: center;
    }

    /* line 726, ../sass/index.scss */
    section.calendario .banner-calendario .owl-nav {
        position: absolute;
        width: 100%;
        top: 59%;
    }

    /* line 731, ../sass/index.scss */
    section.calendario .banner-calendario .item {
        margin-left: 15px;
    }

    /* line 734, ../sass/index.scss */
    section.calendario .banner-calendario .owl-prev {
        left: 0;
    }

    /* line 737, ../sass/index.scss */
    section.calendario .banner-calendario .owl-next {
        right: 0;
    }

    /* line 740, ../sass/index.scss */
    section.leitura .titulo-left, section.leitura .titulo-left h1, section.leitura .banner-leitura .owl-item .texto {
        text-align: center;
    }

    /* line 743, ../sass/index.scss */
    section.leitura .titulo-left h1:after {
        left: 50%;
        margin-left: -25px;
    }

    /* line 747, ../sass/index.scss */
    section.title-interno .titulo-interno {
        padding: 100px 0px !important;
        margin-top: -100px !important;
    }

    /* line 751, ../sass/index.scss */
    .box-lideres {
        text-align: center;
    }

    /* line 754, ../sass/index.scss */
    footer {
        text-align: center;
    }
}
