#*
#* HTACCESS - URL
#*
#* Rota 3 Agencia Full
#* Adaptação V2.0 CMS
#* Ultima Modificação 22/07/2013 - Ederson Rodrigues
#*
#* CMS Rota 3
#*

RewriteEngine On

RewriteRule ^/$                                         index.php

# INSTITUCIONAL
RewriteRule ^institucional/sobre-a-ibk$                 institucional.php
RewriteRule ^institucional/nossa-historia$              nossa-historia.php
RewriteRule ^institucional/liderancas$                  liderancas.php

# OUTROS
RewriteRule ^nossos-eventos$                            eventos.php
RewriteRule ^midia$                                     midia.php
RewriteRule ^novidades$                                 novidades.php
RewriteRule ^podcasts$                                  podcasts.php
RewriteRule ^tv-ibk$                                    tv-ibk.php
RewriteRule ^ao-vivo$                                   ao-vivo.php

RewriteRule ^doacoes$                                   checkout.php
RewriteRule ^finalizar-doacao$                          checkout-send.php
RewriteRule ^finalizar-doacao-valor$                    payment/pagamento.php
RewriteRule ^transacao-processada$                      finish.php
RewriteRule ^entre-em-contato$                          fale-conosco.php
RewriteRule ^enviando-contato$                          fale-conosco-send.php
RewriteRule ^voluntarios$                               voluntarios.php

# MINISTERIOS
#RewriteRule ^ministerios$                              ministerios-view.php
RewriteRule ^ministerios/([a-z0-9-]+)/?$                ministerios-view.php?categoria_ministerio_slug=$1 [NC]

# NOVIDADES > VIEW
RewriteRule ^novidades/([a-z0-9-]+)/([a-z0-9-]+)/?$     novidades-view.php?categoria_noticia_slug=$1&slug=$2 [NC]

# NOVIDADES > VIEW
RewriteRule ^eventos/([a-z0-9-]+)/([a-z0-9-]+)/?$       eventos-view.php?categoria_noticia_slug=$1&slug=$2 [NC]

# NOVIDADES > VIEW
RewriteRule ^midia/([a-z0-9-]+)/([a-z0-9-]+)/?$         midia-view.php?categoria_noticia_slug=$1&slug=$2 [NC]

# PROJETOS > VIEW
RewriteRule ^doacoes/projetos/([a-z0-9-]+)/?$           projetos-view.php?slug=$1 [NC]

# VIDEOS > VIEWS
RewriteRule ^videos/([a-z0-9-]+)/?$                     video.php?slug=$1 [NC]
